// * overview
.overview {
  height: 100%;

  &__top-section {
    display: flex;
    gap: 0.9375rem;
    height: 50%;
  }

  &__bottom-section {
    display: flex;
    gap: 0.9375rem;
    height: 50%;
  }
}
