// * overview
.overview {
  height: inherit;
  display: flex;
  flex-direction: column;

  &__top-section {
    height: 50%;
    display: flex;
  }

  &__bottom-section {
    height: 50%;
    display: flex;
  }
}

// * budget
.budget {
  display: flex;
  height: inherit;
}

// media quries

// * width
@media (max-width: 470.99px) {
  .overview {
    &__top-section {
      flex-direction: column;
    }

    &__bottom-section {
      flex-direction: column;
    }
  }
}
