@import "../../scss/color-vars.scss";

.info-panel {
  flex: 0 1 50%;
  background-color: $secondColor;
  border-radius: 0.625rem;
  height: 100%;

  &__title {
    margin-bottom: 0.3125rem;
  }

  .divider {
    margin-bottom: 0.3125rem;
  }
}

.info-panel-list {
  max-height: calc(100% - 1.875rem - 0.3125rem * 2);
  overflow-y: auto;

  &__item {
    color: $textColor;
  }

  &__amount {
    font-weight: 500;
  }

  &__amount-incomes {
    color: $accentGreenColor;
  }

  &__amount-expenses {
    color: $accentRedColor;
  }

  &__text {
    color: $secondTextColor;
  }
}

// media queries

// * width
@media (max-width: 470.99px) {
  .info-panel-list {
    height: 200px;
  }
}
