@import "./scss/color-vars.scss";

.money-manager {
  display: flex;
  height: 100vh;
  min-height: 500px;

  &__main {
    flex: 0 1 80%;
    background-color: $mainColor;
  }
}

// media queries

// * width
@media (max-width: 768.99px) {
  .money-manager {
    &__main {
      margin-bottom: 65px;
      flex: 0 1 100%;
    }
  }
}
